@media screen  and (min-width:501px){
    .difference div{ display: grid; grid-template-columns: 1fr 1fr; gap: 40px; }
    .elem_selec::before { color: #ff00b3; font-size: large; display: inline-block; font-weight: bold;  width: 1.2em; }
    .first::before { content: "1.";}
    .second::before { content: "2.";}
    .third::before { content: "3.";}
    .fourth::before { content: "4.";}
    .difference_heading p{ text-align: center; color: #ff00b3; font-size: x-large; }
    .center{ display: flex; justify-content: center; }
}
@media screen and (max-width:500px){
    .difference_heading{ display: none; }
    .rang{ padding: 0px 10px; }
    .rang:nth-child(odd){ background-color: #ff00b317; }
    .rang:nth-child(even){ background-color: #00d9ff18; }
    .elem_selec::before { color: #ff00b3; font-size: large; display: inline-block; }
    .tex_edi::before { content: "Text Editor - ";}
    .htm_edi::before { content: "HTML Editor - ";}
}